.usm-story{
	background-color: #feffcb;
	width: 210px;
	height: 85px;
	font-family: Arial;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	box-shadow: 4px 4px rgba(102,102,102,0.2);
	padding: 20px;
}

.usm-story:hover {
	background-color: #e4e5b6;
}

.usm-story-textarea{
	background-color: inherit;
	border-style: none;
	width: 210px;
	height: 85px;
	overflow: hidden;
	resize: none;
}

.usm-story-container{
	 margin-right: 8px;
	 margin-bottom: 8px;
}

.usm-story-emtpy{
	background-color: transparent;
	width: 212px;
	height: 87px;
	font-family: Arial;
	padding: 20px;
}

.usm-story-emtpy:hover{
	background-color: #e4e5b6;
}

.usm-story-trash-btn{
	position: relative;
	right: -15px;
	float: right;
	top: -15px;
	background-color: transparent;
	border: none;
	padding: 0px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: block;
	text-align: center;
}

.usm-story-trash-btn:hover {
	background-color: #B6B791;
}

.usm-story-trash-img{
	height: 20px;
	width: 20px;
	border: 0px;
	padding: 0px;
	display: block;
	position: relative;
}

.usm-story-edit-btn{
	position: relative;
	top: -100px;
	right: -45px;
	float: right;
	background-color: transparent;
	border: none;
	padding: 0px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: block;
	text-align: center;
}

.usm-story-edit-btn:hover {
	background-color: #B6B791;
}

.usm-story-edit-img{
	left: 5px;
	top: 0px;
	border: 0px;
	padding: 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: relative;
}
