.usm-story{
	background-color: #feffcb;
	width: 210px;
	height: 85px;
	font-family: Arial;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	box-shadow: 4px 4px rgba(102,102,102,0.2);
	padding: 20px;
}

.usm-story:hover {
	background-color: #e4e5b6;
}

.usm-story-textarea{
	background-color: inherit;
	border-style: none;
	width: 210px;
	height: 85px;
	overflow: hidden;
	resize: none;
}

.usm-story-container{
	 margin-right: 8px;
	 margin-bottom: 8px;
}

.usm-story-emtpy{
	background-color: transparent;
	width: 212px;
	height: 87px;
	font-family: Arial;
	padding: 20px;
}

.usm-story-emtpy:hover{
	background-color: #e4e5b6;
}

.usm-story-menu-btn {
	position: relative;
	float: right;
	top: -10px;
	border: none;
	background-color: inherit;
	background-image: url("../../assets/img/usm-story-menu.svg");
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.usm-story-menu-btn:hover {
	background-color: #B6B791;
}

.usm-story-menu {
	position: relative;
	right: -260px;
	top: -127px;
	height: 125px;
	width: 50px;
	background-color: white;
	border: solid 1px;
	border-color: #82cbf6;
	border-radius: 10px;
	text-align: center;
}

.usm-story-trash-btn {
	border: none;
	background-color: inherit;
	background-image: url('../../assets/img/delete.svg');
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
