.usm-story-grid {
  display: grid;
  grid-gap: 10px;
  width: fit-content;
  box-shadow: .2vw .2vw .2vw  rgba(193,193,193, .3);
}

.usm-story-grid-container {
	background-color: transparent;
	width: 260px;
	height: 140px;
}