<div class="usm-grid-container" cdkDropListGroup>

    <ng-container *ngFor="let row of storyService.getStories(); index as rowIndex">
        <div class="usm-grid-row">
            <ng-container *ngFor="let story of row; index as columnIndex">
                <div class="usm-story-container">
                    <div class="usm-story-border usm-story-top" (click)="addRowAboveOf(rowIndex)"></div>
                    <div class="usm-story-border usm-story-bottom" (click)="addRowDownOf(rowIndex)"></div>
                    <div class="mock-user-story">
                        <app-usm-story [columnIndex]="columnIndex" [rowIndex]="rowIndex"></app-usm-story>
                    </div>
                    <div class="usm-story-border usm-story-left" (click)="addColumntOnLeftOf(columnIndex)"></div>
                    <div class="usm-story-border usm-story-right" (click)="addColumntOnRightOf(columnIndex)"></div>
                </div>

                <div class="usm-grid-column-separator"></div>
            </ng-container>
            
        </div>
        
        <div class="usm-grid-row-separator"></div>
    </ng-container>

</div>