.usm-main-menu{
	position: fixed;
	bottom: 0;
	height: 10%;
	width: 100%;
}

.usm-main-menu-container{
	width: 50%;
	margin: auto;
}

.usm-main-menu-grid {
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-gap: 5%;
	background-color: transparent;
	width: fit-content;
	grid-template-columns: 5vw 5vw;
}